<div class="container mt-4">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <div class="input-group shadow-sm">

        <input type="text" [(ngModel)]="buscador" (input)="filtrarClientes()" class="form-control border-primary" placeholder="Buscar cliente"> 
        
        <span class="input-group-text bg-primary text-white">
          <i class="bi bi-search"></i>
        </span>

      </div>

    </div>

    <div class="table-responsive mt-3">

      <table class="table table-hover table-bordered text-center shadow-sm">

        <thead class="table-primary">

          <tr>

            <th>Nombre completo</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>ID</th>
            <th>Opciones</th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let item of listaFiltrada">

            <td>{{ item.nombreCompleto }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.telefono }}</td>
            <td>{{ item.id }}</td>
            <td class="d-flex justify-content-around">

              <a [routerLink]="['editar', item.id]" routerLinkActive="router-link-active" title="EditarCliente" class="btn btn-secondary">
                <i class="bi bi-pencil"></i> Editar
              </a>

              <a [routerLink]="['detalles', item.id]" routerLinkActive="router-link-active" title="DetallesCliente" class="btn btn-success">
                <i class="bi bi-info"></i> Detalles
              </a>

              <button class="btn btn-danger" (click)="eliminarCliente(item.id)">

                <i class="bi bi-trash"></i> Eliminar

              </button>


            </td>
          </tr>

        </tbody>
        

      </table>

    </div>

</div>