<div class="container mt-4">

  <div class="card shadow-lg p-4">

    <h2 class="text-center text-primary mb-4">Registrar Producto</h2>

    <form [formGroup]="formularioProductos" (ngSubmit)="enviarFormulario()">

      <div class="mb-3">

        <label class="form-label fw-bold">Nombre del Producto:</label>

        <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese su nombre">
        <div class="text-danger small mt-1"
          *ngIf="formularioProductos.get('nombre')?.invalid &&   formularioProductos.get('nombre')?.touched">

          El nombre debe tener al menos 2 caracteres.

        </div>

      </div>

      <div class="mb-3">

        <label class="form-label fw-bold">Precio:</label>

        <input type="number" class="form-control" formControlName="precio" placeholder="Ingrese el precio">
        <div class="text-danger small mt-1"
          *ngIf="formularioProductos.get('precio')?.invalid && formularioProductos.get('precio')?.touched">

          El Precio debe tener al ser mayor a 0.

        </div>

        <div class="row my-3">
          <label class="form-label fw-bold">Proveedor:</label>
          <section class="col-3">
            <input id="idPorveedor" type="number" class="form-control" formControlName="proveedorId"
              [value]="proveedorSeleccionado?.id" placeholder="Identificador de proveedor">
          </section>
          <section class="col-9">
            <div class="input-group">
              <input id="nombreProveedor" [value]="proveedorSeleccionado?.nombre" type="text" class="form-control" placeholder="Seleccione un proveedor">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalProveedores">Buscar</button>
            </div>
            <div class="text-danger small mt-1"
              *ngIf="formularioProductos.get('porveedorId')?.invalid && formularioProductos.get('proveedorId')?.touched">
              Debe elegir un proveedor
            </div>
          </section>
        </div>

        <div class="my-3">
          <label for="foto" class="form-label fw-bold">Foto:</label>
          <input (change)="agregarImagenFormulario($event)" type="file" formControlName="foto" class="form-control" placeholder="Agregar fotografía"/> 
          <div class="text-danger small mt-1"
          *ngIf="formularioProductos.get('foto')?.invalid && formularioProductos.get('foto')?.touched">
          Debe subir una foto del producto
          </div>
        </div>
      </div>



      <div class="text-center mt-4">

        <button type="submit" class="btn btn-primary w-100" [disabled]="formularioProductos.invalid">

          Guardar Producto

        </button>

      </div>

    </form>

  </div>

</div>
<productos-modal-proveedores [proveedores]="proveedores"
  (proveedorAEnviar)="recibirCliente($event)"></productos-modal-proveedores>