<div class="container mt-4">

    <div class="card shadow-lg p-4">

        <h2 class="text-center text-primary mb-4">Detalles Cliente</h2>

        <ul class="list-group">
            <li class="list-group-item">
                <strong>ID:</strong> {{cliente.id}}
            </li>
            <li class="list-group-item">
                <strong>Cliente:</strong>  {{cliente.nombre}} {{cliente.apellido}}
            </li>
            <li class="list-group-item">
                <strong>Teléfono:</strong>  {{cliente.telefono}}
            </li>
            <li class="list-group-item">
                <strong>Email:</strong>  {{cliente.email}}
            </li>
            
        </ul>
    </div>

</div>