<!--dato: uso NgIf en los div para verificar si los campos son validos con las validacions que hice en el component
y con el touched lo que hago es garantizar que se haya interactudo con el camo antes de mandar el mensaje y tambien evito que aparzca
el msj antes de que  el usuarioescriba algo-->

<div class="container mt-4">

  <div class="card shadow-lg p-4">

    <h2 class="text-center text-primary mb-4">Registrar Cliente</h2>

    <form [formGroup]="clienteFormulario" (ngSubmit)="enviarFormulario()">

      <div class="mb-3">

        <label class="form-label fw-bold">Nombre del cliente:</label>

        <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese su nombre">

      </div>

      <div class="mb-3">

        <label class="form-label fw-bold">Apellido:</label>

        <input type="text" class="form-control" formControlName="apellido" placeholder="Ingrese su apellido">

      </div>

      <div class="mb-3">

        <label class="form-label fw-bold">Email:</label>

        <input type="email" class="form-control" formControlName="email" placeholder="Ingrese su correo electrónico">
        <div class="text-danger small mt-1" *ngIf="clienteFormulario.get('email')?.invalid && clienteFormulario.get('email')?.touched">

          Ingrese un correo electrónico válido.

        </div>

      </div>

      <div class="mb-3">

        <label class="form-label fw-bold">Telefono:</label>

        <input type="text" class="form-control" formControlName="telefono" placeholder="Ingrese su número de teléfono">
        <div class="text-danger small mt-1" *ngIf="clienteFormulario.get('telefono')?.invalid && clienteFormulario.get('telefono')?.touched">

          El teléfono debe contener exactamente 8 dígitos.

        </div>

      </div>

      <div class="text-center mt-4">

        <button type="submit" class="btn btn-primary w-100" [disabled]="clienteFormulario.invalid">

          Guardar Cliente

        </button>

      </div>

    </form>

  </div>

</div>

