<div class="card" style="width: 18rem;">
    <img [src]="producto.foto" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{producto.nombre}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>{{producto.precio}}</strong></li>
      <li class="list-group-item"><strong>{{producto.proveedorNombre}}</strong></li>
    </ul>
    <div class="card-body">
      <a [routerLink]="'/productos-editar'" class="card-link btn btn-primary">Editar</a>
      <a [routerLink]="'/productos-detalles'" class="card-link btn btn-primary">Eliminar</a>
    </div>
</div>
